<a ui-sref="home"><button type="button">Home</button></a>

<h1>Students sign in below</h3>


  <h3 ng-show="allStudents.length">Students:</h3>
    <ul>
      <li ng-repeat="item in allStudents">
        <br>
        {{ item }}
        <button class="btn btn-success" ng-if="studentsHere.indexOf(item) != -1" ng-click="StudentsFactory.signOut(item)">Sign Out</button>
        <button class="btn btn-warning" ng-if="studentsGone.indexOf(item) != -1" ng-click="StudentsFactory.signIn(item)">Sign In</button>
        <br>
      </li>

    </ul>
