<a ui-sref="home"><button type="button">Home</button></a>
<h3>Welcome</h3>

<!-- Search Bar -->
<div class="row" id="search-bar" ng-show="allStudents.length">
  <form ng-model="search" role="form">
    <input ng-model="search" type="text" class="form-control" placeholder="Search">
  </form>
</div>

<!-- Add a student -->
<div class="addStudent">
  <h3>Add Student</h3>
  <form ng-submit="StudentsFactory.addStudent()" class="form-inline" role="form">
    <div class="form-group">
      <input type="text" ng-model="StudentsFactory.studentName" class="form-control" placeholder="Enter the student's name">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

<!-- List of students present -->
<div ng-show="studentsHere.length">
  <h3>Students Present:</h3>
  <ul>
    <li ng-repeat="item in filtered = (studentsHere | orderBy:name | filter:search )">
      {{ item }}
    </li>
  </ul>
</div>

<!-- List of students gone for the day -->
<div ng-show="studentsGone.length">
  <h3>Students Gone:</h3>
  <ul>
    <li ng-repeat="item in filtered = (studentsGone | orderBy:name | filter:search )">
      {{ item }}
    </li>
  </ul>
</div>
